*{
    padding: 0;
    margin: 0;
}

/*.container::-webkit-scrollbar{
    display: none;
}*/
.container{
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}
  
nav{
    background: salmon;
    width: 100%;
    text-align: center;
    padding: 20px;
    position: fixed;
}
  
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: helvetica;
    font-weight: bold;
    color: #fff;
    margin-left: 2em;
  }
  
#slide1,
#slide2,
#slide3{
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
  
#slide1{
    background: yellow;
}
  
#slide2{
    background: orange;
}
  
#slide3{
    background: green;
}